{% extends 'global/base.html' %}

{% block title %} | Dog {% endblock title %}

{% block content %}
<main class='container'>
    <article class="col-12">
        <section class="col-md-4 offset-md-4">
            <div class="card card-custom">
                <div class="card-body text-center">
                    <h5 class="card-title">Água</h5>
                    <h6 class="card-subtitle mb-2 text-muted">...</h6>
                    <p class="card-text">Clicando aqui a água será aberta por 1min </p>
                </div>
                <button type='button' onclick="fluxoAgua()" class="btn btn-primary col-4 offset-4 btn-custom" data-bs-toggle="modal"
                    data-bs-target="#Modal">Executar</button>
            </div>
        </section>
    </article>
</main>
{% endblock content %}
